body {
    margin: 0;
    background: url(../images/thunder.jpg);
}

.card  {
    width: 600px;
    height: 850px;
    margin: 45px 60px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 5px 5px black;
    border-radius: 10px;
    padding:15px;
}

.card-image {
    display: block;
    margin: 0 auto; 
    border-radius: 50%;
}

.card-title {
    font-size: 31px;
    margin: 0 auto;
    color:#2d2783;
}

.card-text {
    font-size: 18px;
}

.card-title2 {
    font-size: 22px;
    color:#2d2783
    padd
}

.ol1 {
    padding-left: 0;
    list-style-position: inside;
}

.ul1 {
    padding-left: 0;
    list-style-position: inside;
}





